.calculator {
    width: 200px;
    margin: 0 auto;
    border: 1px solid #09d1f5;
    border-radius: 5px;
    background-color: hsl(189, 88%, 77%);
  }
  
  input[type="text"] {
    width: 85%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #dddddd;
  }
  